* {
	margin: 0 0 0 0;
}

html {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#longHotbar {
	background-color: black;
	opacity: 0.8;
	background-size: cover;
	width: 100vw;
	height: 10vh;
	min-height: 1px;
	z-index: 2;
	position: relative;
}



#hotbarElements {

	width: 100vw;
	height: 20vh;
	min-height: 1px;
	position: relative;

}

#hotbarElements-paragraph {
	position: absolute;
	display: table;
	width: auto;
	height: auto;
	left: 40vw;

}

#hotbarElements-paragraph p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 3vw;
	color: red;
}

.w3-btn {
	margin-left: 20vw;
	margin-top: 2%;
	font-size: 1.5vw;
}

#Center-Element {
	margin: 0 auto 0 auto;
	width: 60vw;
	height: 65vh;
	background-color: white;
	margin-top: 7.5vh;
	opacity: 0.9;
}

#register {
	position: absolute;
	width: 20vw;
	height: 25vh;
	margin-top: 10vh;
	margin-left: 7.5vw;
	background-image: url("icon/register.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#create {
	position: absolute;
	background-image: url("icon/create.png");
	width: 20vw;
	height: 25vh;
	background-position: center;
	margin-left: 20vw;
	margin-top: 10vh;
	background-repeat: no-repeat;
	background-size: contain;
}

#wait {
	position: absolute;
	background-image: url("icon/wait.png");
	width: 20vw;
	height: 25vh;
	background-position: center;
	margin-left: 37.5vw;
	margin-top: 10vh;
	background-repeat: no-repeat;
	background-size: contain;
}

#joinus {
	width: 60vw;
	margin-top: 25vw;
	position: absolute;
	font-size: 2vw;
	text-align: center;
}

#joinus p {
	color: blue;
}

#registerbtn {
	width: 40vw;
	margin-top: 27vw;
	position: absolute;
	font-size: 2vw;
	text-align: center;
	color: blue;
}




#footer {
	background-color: black;
	opacity: 0.8;
	width: 100vw;
	height: 10vh;
	bottom: 0;
	position: absolute;
}

#register-container {
	width: 25vw;
	height: 50vh;
	background-color: white;
	margin-left: 35vw;
	margin-top: 10vh;
	border-radius: 15px;
	text-align: center;
}

#regForm {
	position: relative;
	margin-top: 1vh;
}

#regForm input {
	position: relative;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border-radius: 5px;
}

