@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-4" style="text-align:center">User Story Online</h1>
            <img src="~/css/icon/register.png" />
            <img src="~/css/icon/create.png" />
            <img src="~/css/icon/wait.png" /><br />

        <h2> Join us now!</h2>

        <button type="button">Register</button>
    </div>
